{name, "syslog"}.
{description, "Erlang port driver for interacting with syslog via syslog(3)"}.
{homepage, "https://github.com/Vagabond/erlang-syslog"}.
{url, {git, "https://github.com/Vagabond/erlang-syslog.git", {branch, "master"}}}.
{authors, ["Andrew Thompson <andrew@hijacked.us>"]}.
{license, "BSD2"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
